*{
    margin: 0
}

#link {
    color: #283040;
}

#wrapper__register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 5%;
    background-color: #E3E4E0;
}

#wrapper__login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 5%;
    background-color: #E3E4E0;
}

#wrapper__dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    padding-top: 8%;
    padding-right: 3%;
    background-color: #E3E4E0;
}


#wrapper__sort{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #E3E4E0;
}

#wrapper__myaccount{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    background-color: #E3E4E0;
}

.swipe{
    position: absolute;
}

