*{
    margin: 0
}

#wrapper__register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 5%;
    background-color: #E3E4E0;
}

#wrapper__login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 5%;
    background-color: #E3E4E0;
}

